body {
    width: 30%;
}

input{
    margin: 5px;
    width: 43%;
}

.leftbound{
    float: left;
    width: 43%;
}

.rightbound{
    float: right;
    width: 48%;
}
#short{
    width: 20%;
}

#long{
    width: 70%;
}